venv/
frontend/node_modules/
node_modules/
__pycache__/
.cache/
*.pyc
.git/
.DS_Store
/tmp/
*.mp4
*.mp3
*.wav
*.srt
*.vtt
backend/scripts/restart_deployment.sh
!backend/tests/input_files/**/*.mp4
!backend/tests/input_files/**/*.mp3
!backend/tests/input_files/**/*.wav
backend/scripts/admin/**
node_modules/